
extends layout

block content
  include author
  each article in articles
    article.article.intro
      section.content
        p
          p.date
            span= moment.utc(article.date).format('DD. MMMM YYYY')
          p.title
            a(href=article.url)= article.title
          if article.intro.length > 0
            != typogr(article.intro).typogrify()

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) &laquo; Newer
    else
      a(href='/archive.html') &laquo; Archives
    if nextPage
      a(href=nextPage.url) Next page &raquo;
