extends layout

block content
  include author
  each article in articles
    article.article.intro
      section.content
        p
          p.date
            span= moment.utc(article.date).format('DD.MM.YYYY')
          p.title
            a(href=article.url)= article.title
          p
            !{ typogr(article.intro).typogrify() }
